<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Feed</title>
  <link
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"
  ></head>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <span class="navbar-brand mb-0 h1">Codefellowship</span>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign-up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/myprofile">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/following">Following</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/feed">Feed</a>
                </li>

            </ul>
            <div class="float: right;">
                <li class="nav-item d-flex">
                    <a class="nav-link btn btn-danger" style="align-text: right" href="/logout" role="button">Log-out</a>
                </li>
            </div>
        </div>
    </nav>

<!--<ul class="feed-list">-->
<!--    <li th:each="post : ${posts}">-->
<!--        <span th:text="${post.createdAt}"></span>-->
<!--        <span th:text="${post.body}"></span>-->

<!--        <a th:href="@{'/users/' + ${post.applicationUser.id}}"></a>-->
<!--        <a th:href="@{'/users/' + ${post.applicationUser.id}}">-->
<!--            <span th:text="${post.applicationUser.firstName}"></span>-->
<!--            <span th:text="${post.applicationUser.lastName}"></span>-->
<!--            <span th:text="${post.applicationUser.username}"></span>-->
<!--        </a>-->
<!--    </li>-->
<!--</ul>-->

<!--        <div class="col-sm-6 feed-list" style="width:30%" th:each="post : ${posts}">-->
<!--            <div class="card border-primary">-->
<!--                <div class="card-body border-primary">-->
<!--                    <div class="card-header bg-transparent"><h5 class="card-title">-->
<!--                        <a th:href="@{'/users/' + ${post.applicationUser.id}}">-->
<!--                        <span th:text="${post.applicationUser.firstName}"></span>-->
<!--                        <span th:text="${post.applicationUser.lastName}"></span>-->
<!--                    </a></h5></div>-->

<!--                    <p class="card-text"><span th:text="${post.body}"></span></p>-->
<!--                </div>-->
<!--                <div class="card-footer bg-transparent border-primary color-primary"><span th:text="${post.createdAt}"></span></div>-->
<!--            </div>-->
<!--        </div>-->

    <div class="container"> <div class="row mt-5"><div class="col"> <h1 class="h1 mb-5 text-center">Latest Feeds</h1> </div></div>
        <div class="row" >
            <div class="col text-center d-flex justify-content-center" style="width:30% ;margin: 2%" th:each="post : ${posts}">
                <div class="card" style="width: 25rem;">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a th:href="@{'/users/' + ${post.applicationUser.id}}">
                                <span th:text="${post.applicationUser.firstName}"></span>
                                <span th:text="${post.applicationUser.lastName}"></span>
                            </a></h5>
                        <div class="card-text">
                            <p class="card-text"><span th:text="${post.body}"></span></p>
                        </div>
                        <div class="card-footer bg-transparent border-dark"><span th:text="${post.createdAt}"></span></div>
                    </div></div>
            </div>
        </div>
    </div>

</body>
</html>