<!DOCTYPE html>
<html lang="en">
<head>
    <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
    >
    <link href="../static/css/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <span class="navbar-brand mb-0 h1">Codefellowship</span>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign-up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/myprofile">My Profile</a>
                </li>

            </ul>
            <div class="float: right;">
                <li class="nav-item d-flex">
                    <a class="nav-link btn btn-danger" style="align-text: right" href="/logout" role="button">Log-out</a>
                </li>
            </div>
        </div>
    </nav>
</main>
<h1>Application User - <span th:text="${applicationUser.username}"></span></h1>

<p>First Name: <span th:text="${applicationUser.firstName}"></span></p>
<p>Last Name: <span th:text="${applicationUser.lastName}"></span></p>
<p>Date of Birth: <span th:text="${applicationUser.dateOfBirth}"></span></p>
<p>Bio: <span th:text="${applicationUser.bio}"></span></p>


</body>
</html>