<!DOCTYPE html>
<html lang="en" xmlns:th="http://www,thymeleaf.org">
<head>
    <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
    >
    <link href="../static/css/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Codefellows</title>
</head>
<body>
<style>
    span{
        font-weight: bold;
    }
    p{
        text-align: left;
    }
</style>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <span class="navbar-brand mb-0 h1">Codefellowship</span>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign-up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/myprofile">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/following">Following</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/feed">Feed</a>
                </li>

            </ul>
            <div class="float: right;">
                <li class="nav-item d-flex">
                    <a class="nav-link btn btn-danger" style="align-text: right" href="/logout" role="button">Log-out</a>
                </li>
            </div>
        </div>
    </nav>
</header>
<div class="container"> <div class="row mt-5"><div class="col"> <h1 class="h1 mb-5 text-center">Application User - <span th:text="${applicationUser.username}"></span> </h1> </div></div>
    <div class="row" >
        <div class="col text-center d-flex justify-content-center" style="width:20%">
            <div class="card" style="width: 25rem;">
                <img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-512.png"
                     class="card-img-top" alt="image" style="width: 50%; display: block; margin-left: auto; margin-right: auto; padding: 1%">
                <div class="card-body">
                    <p>First Name: <span  th:text="${applicationUser.firstName}"></span></p>
                    <p>Last Name: <span th:text="${applicationUser.lastName}"></span></p>
                    <p>Date of Birth: <span th:text="${applicationUser.dateOfBirth}"></span></p>
                    <p>Bio: <span th:text="${applicationUser.bio}"></span></p>
                    <div class="card-footer bg-transparent">
                        <form class="follow-button-form" method="POST" th:action="'/follow/' + ${applicationUser.id}" >
                            <button class="btn btn-success" style="width: 60%" type="submit">Follow</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>